<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        h1 {
            font-size: 50px;
            font-weight: 800;
        }

        p {
            font-size: 35px;
        }

        a {
            font-size: 30px;
            margin: 10px;
        }
    </style>
</head>

<body>
    <%- include('./partials/navbar') %>

        <h1>Welcome to the Website</h1>
        <p>This website will help you see and choose from the best resturant in Bahrain</p>
        <a href="/resturants">See our Resturants</a>
</body>

</html>